{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock head_title %}

{% block panel_title %}{% trans "Password Reset" %}{% endblock panel_title %}

{% block panel_content %}
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p class="card-text">
    {% blocktrans %}
      We have sent you an e-mail. Please contact us if you do not receive it within a few minutes.
    {% endblocktrans %}
  </p>
{% endblock panel_content %}
