{% extends "account/base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block head_title %}{% trans "Set Password" %}{% endblock head_title %}

{% block panel_title %}{% trans "Set Password" %}{% endblock panel_title %}

{% block panel_content %}
  <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
    {% csrf_token %}
    {% bootstrap_form form layout="inline" %}
    <button class="btn btn-outline-success btn-block" type="submit">{% trans 'Set Password' %}</button>
  </form>
{% endblock panel_content %}
