{% extends "account/base.html" %}

{% load bootstrap4 %}
{% load i18n %}

{% block head_title %}{% trans "Change Password" %}{% endblock head_title %}

{% block panel_title %}{% trans "Change Password" %}{% endblock panel_title %}

{% block panel_content %}
  <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
    {% csrf_token %}
    {% bootstrap_form form layout="inline" %}
    <button class="btn btn-outline-success btn-block" type="submit" name="action">
      {% trans "Change Password" %}
    </button>
  </form>
{% endblock panel_content %}
